<!-- Intro -->
<div id="intro">
		<h1>Alex M.	Fraley</h1>
				Academic specialization in aerospace engineering, with extensive experience in robot test method development, <br />
				simulation, fabrication, validation, and deployment for both operator-driven and AI-driven UAVs, ground robots, and aquatic robots. <br />
				Focus on real-world autonomy testing for federal agencies, regulatory bodies, international student-led competitions, and military applications.
		<p>	Roboticist | Robot Testing & AI Simulation | Research Engineer at NIST <a href="https://www.nist.gov/people/alex-fraley"> </a>.</p>
		<ul class="actions">
				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
		</ul>
</div>
