<!-- Intro -->
<div id="intro" class="fade-in">
	<h1>Alex Fraley</h1>
	Aerospace engineer and robotics researcher specializing in the development of standardized test methods for autonomous systems. <br />
	Expertise in modeling, simulation, and experimental validation of AI-enabled UAVs, ground robots, and aquatic platforms. <br />
	Focused on real-world autonomy evaluation for regulatory compliance, public safety, and research-driven innovation.
	<p>Roboticist | Autonomy Test Methods | Research Engineer at NIST <a href="https://www.nist.gov/people/alex-fraley"> </a>.</p>
	<p class="tagline">Bridging robotics, AI, and experimental science for reliable autonomy.</p>
	<ul class="actions">
		<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
	</ul>
</div>
